@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#header {
  width: 100%;
}

.header-container {
  width: 90%;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 4rem;
}

.d-navbar {
  height: 100%;
  display: none;
  align-items: center;
}

.d-navbar li {
  margin-left: 1rem;
}

.d-navbar li a {
  color: #6070ff;
}

.navbar .humberger i {
  font-size: 22px;
  font-weight: 600;
  color: #6070ff;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: #6070ff;
}

#main-container {
  width: 100%;
}

.headline {
  width: 100%;
  background-image: url("image/Header_bg@2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
}

.headline-main-container {
  width: 90%;
  margin: 0 auto;
}

.welcome {
  font-size: 2.5rem;
  color: #172b4d;
}

.link-up {
  margin-top: 1rem;
}

.link-up h2 {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #6070ff;
}

.introduction {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  line-height: 24px;
  color: #172b4d;
}

.tonic-2 ul li {
  display: inline-block;
  padding: 0 5px;
  color: #7a869a;
}

.lag ul li {
  display: inline-block;
  margin-right: 15px;
  list-style: none;
  padding: 10px;
  background-color: #ebebff;
  border-radius: 20px;
  color: #6070ff;
}

.lang-list ul li {
  display: flex;
  list-style: none;
  padding: 10px 10px;
  margin: 15px 0;
  background-color: #f7f7f9;
  border-radius: 8px;
}

.link-up .social-list {
  margin-top: 0.7rem;
  display: flex;
  align-items: center;
}

.link-up .social-list li {
  margin-right: 0.8rem;
}

@media screen and (min-width: 600px) {
  .d-navbar {
    display: flex;
  }

  .humberger {
    display: none;
  }

  .welcome {
    padding-top: 6rem;
  }
}



.main-page-paragr {
  width: 40%;
}

 /**ul {
  list-style: none;
  margin: 0;
  padding: 0;
} **/

.social-media ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}

/**.social-media ul li {
  list-style: none;
}**/

.icon {
  height: 20px;
  width: 20px;
}

h1,
h3 {
  color: #091e42;
}

h4 {
  color: #172b4d;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  font-family: 'Poppins', sans-serif;
  margin: 12px 0;
}

h2 {
  color: #7f8cff;
}

h5 {
  text-align: center;
}

p {
  color: #344563;
}

img {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.contact {
  color: #ebebff;
}

#Projects {
  margin: 0 auto;
  width: 90vw;
}

.tonic {
  height: 220px;
}

.tonic-3 {
  list-style: disc;
}

.tonic img {
  width: 100%;
  height: 220px;
}

.works {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr;
}

.work {
  display: flex;
  flex-direction: column;
  height: 552px;
  padding: 16px;
  margin: 88px 0;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: center;
}

.tonic-2 {
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #344563;
}

.btn-2 button {
  border: 1px solid #dfe1e6;
  padding: 10px 20px;
  outline: none;
  background-color: transparent;
  color: #6070ff;
  border-radius: 12px;
  box-sizing: border-box;
  margin: 22px 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-color: #7f8cff;
}

.btn-2 button:focus {
  background-color: #2230d2;
  color: #fff;
}

.btn-2 button:hover {
  background-color: #4053fc;
  color: #fff;
}

.lang-list .img-list {
  width: 48px;
  height: 48px;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 100%;
  position: absolute;
  padding: 16px;
  border-radius: 0 35px 0 0;
  border: 2px solid #dfe1e6;
  box-sizing: border-box;
  margin-top: 50px;
}

@media screen and (min-width: 600px) {
  .d-navbar {
    display: flex;
  }

  .humberger {
    display: none;
  }

  .welcome {
    padding-top: 6rem;
  }
}
