body{
  background-image: url("image/Header bg@2x.jpg");
}

h1 h3{
  color: #0a1529;
}

h2{
  color: #6c7af8;
}

p{
  color: #293c5e;
}

#headline {
  width: 70%;
  margin: 0 auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
}

.navbar{
  display: flex;
  justify-content: space-between;
  width: 80%;
  background: #fff;
  margin: 0 auto;
  padding: 30px;
}

.d-navbar{
  display: flex;
  list-style-type: none;
  cursor: pointer;
}

.a-navbar{
  text-decoration: none;
  height: 2em;
  padding: 0.5em 1em;
}

.welcome{
  width: 40%;
  margin: 0 auto;
  margin-top: 10%;
}

.introduction {
  width: 40%;
}

.link-up ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px;
}


.link-up ul li {
  list-style: none;
}



  


